Repository exercism/elixir-representer, pull requests merged in 2021-11, with the labels that each got.

#41 Add parentheses to functions in pipes
  lib/representer.ex
  test/representer_test.exs
  test_data/parentheses_in_pipes/expected_mapping.json
  test_data/parentheses_in_pipes/expected_representation.txt
  test_data/parentheses_in_pipes/input.ex
Labels: x:module/representer, x:type/coding, x:size/small

#42 Modify placeholder capitalization to produce a valid Elixir representation
  lib/representer/mapping.ex
  test/representer_test.exs
  test_data/local_function_calls/expected_mapping.json
  test_data/local_function_calls/expected_representation.txt
  test_data/macros_and_guards/expected_mapping.json
  test_data/macros_and_guards/expected_representation.txt
  test_data/parentheses_in_pipes/expected_mapping.json
  test_data/parentheses_in_pipes/expected_representation.txt
  test_data/simple_single_module/expected_mapping.json
  test_data/simple_single_module/expected_representation.txt
  test_data/special_variables/expected_mapping.json
  test_data/special_variables/expected_representation.txt
  test_data/special_variables/input.ex
  test_data/two_modules/expected_mapping.json
  test_data/two_modules/expected_representation.txt
Labels: x:module/representer, x:type/coding, x:size/medium

#45 Create dependabot.yml
  .github/dependabot.yml
Labels: x:size/small

#51 Let all maintainers approve PRs
  .github/CODEOWNERS
Labels: x:size/tiny

#44 Normalizing multi-component modules and module aliases
  lib/representer.ex
  lib/representer/mapping.ex
  test/representer_test.exs
  test_data/modules/expected_mapping.json
  test_data/modules/expected_representation.txt
  test_data/modules/input.ex
  test_data/special_variables/expected_representation.txt
  test_data/special_variables/input.ex
Labels: x:action/improve, x:module/representer, x:type/coding, x:size/large

#53 🤖 Update `.dockerignore` file
  .dockerignore
Labels: x:size/tiny
